@import "variables";

.layout {
  height: 100%;
  width: 100%;
}

.margin-top {
  margin-top: 20px;
}

h1 {
  font-weight: bold;
  font-size: 40px;
}

button {
  transition: all 0.5s ease;
  color: #d7d7d7;
  border: 3px solid #d7d7d7;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color: transparent;
  padding: 10px;
  outline: none;
  width: 200px;
  border-radius: 30px;
  cursor: pointer;
}

button.primary {
  background-color: $redSecond;
  border: 3px solid $redSecond;
  color: $primaryText;
}
button.is-small {
  font-size: 12px;
}

button.primary:hover {
  color: $redSecond;
  background-color: transparent;
  font-weight: bold;
}

button:hover {
  color: $dark-grey;
  background-color: $white;
}

.footer {
  position: fixed;
  bottom: 12px;
  font-size: 13px;
  width: 100%;
  text-align: center;
}
.input-field {
  position: relative;
  margin: 5px auto;
  width: 300px;
  display: flex;
  align-items: center;
  &.max-width, &.max-width {
    width: 100%;
  }
  &.is-label {
    label {
      font-weight: bold;
      width: 100%;
      margin: 10px 0;
    }
    flex-direction: column;
    margin: 0;
  }

  span.icon:not(.tooltip-info) {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%) translateX(-10px);
    color: $primaryText;
    font-size: 18px;
  }

  .tooltip-info {
    color: $grey;
    background-color: $primaryText;
    margin-left: 15px;
    font-size: 11px;
    padding: 5px;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    position: relative;
  }

  .tooltip-info:hover:before {
    position: absolute;
    top: -33px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 13px;
    right: -10px;
    background-color: $primaryText;
    content: attr(data-text);
    width: max-content;
  }

  .tooltip-info:hover:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #d7d7d7;
    left: calc(-50% + 11.5px);
    top: -8px;
  }

  textarea.input {
    height: 200px;
  }

  input.is-light, textarea.is-light {
    background-color: $secondBg !important;
    padding: 10px !important;
    width: calc(100% - 20px);
  }
  input.input, textarea.input {
    resize:vertical;
    width: calc(100% - 50px);
    color: $primaryText;
    padding: 10px 10px 10px 40px;
    border-radius: 10px;
    font-size: 18px;
    background-color: $primaryBg;
    border: none;
    &:focus {
      outline: none;
    }

    &::placeholder {
      color: grey;
    }
  }
  @if("span.icon has class is-password-revele") {
    input.input, textarea.input {
      padding: 10px 40px 10px 40px
    }

  }
  span.icon.is-password-revele {
    left: calc(100% - 22px);
    cursor: pointer;
  }
}
.dashboard-navbar {
  position: relative;
  background-color: $redSecond;
  height: 60px;
  width: calc(100% - 200px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  .close-open-menu{
    display: none;
    width: 20px;
    height: 25px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: $primaryText;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
      &:nth-child(1) {
        top: 0;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
      &:nth-child(2) {
        top: 8px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
      &:nth-child(3) {
        top: 16px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
    }
  }
  .close-open-menu.open {
    span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 3px;
    }
    span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }
    span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 17px;
    }
  }
  .logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    img {
      height: 50px;
      width: 50px;
    }
    span {
      font-weight: bold;
      font-size: 20px;
      color: #fff;
    }
  }
  .menu {
    z-index: 100;
    display: flex;
    flex-direction: row;
    height: 100%;
    a {
      //font-weight: bold;
      padding: 0 15px;
      text-decoration: none;
      height: 100%;
      align-items: center;
      color: $primaryText;
      display: flex;
      //background:
      //  linear-gradient( 90deg, $primaryText  50%, #fff 0),
      //  linear-gradient(-90deg, $primaryText  50%, #fff 0),
      //  linear-gradient( 90deg, #0000 50%, $primaryText 0),
      //  linear-gradient(-90deg, #0000 50%, $primaryText 0);
      //background-repeat: no-repeat;
      //background-size: 200% 50%;
      //background-position: top left, bottom right;
      //-webkit-background-clip: text, text, padding-box, padding-box;
      transition: 0.5s;

      &:not(.router-link-exact-active):hover {
        //background-color: $grey;
        color: $red;
        font-weight: bold;
        background-color: $white;
        background-position: top right, bottom left;
      }
      &.router-link-exact-active {
        background-color: $primaryText;
        font-weight: bold;
        color: $red;
      }
    }
  }
}
.is-on-line {
  display: flex;
}
.is-checkbox {
  .label-input {
    width: max-content !important;
    padding-right: 20px;
  }
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;
  align-items: center !important;;
  .switch {
    margin: 0 !important;
    position: relative;
    display: inline-block;
    width: 45px !important;
    height: 24px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $secondBg;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: $redSecond;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px $redSecond;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
  }
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
}

::-webkit-scrollbar {
  width: 10px;
  border: 1px solid $dark-grey;
  background-color: $dark-grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: $grey;
  border: 2px solid $dark-grey;
  border-radius: 10px;
}
.dashboard-wrapper {
  .ideas {
    padding: 0 20px;
    max-width: 700px;
    & > h1 {
      margin-bottom: 10px;
    }
    .info {
      font-style: italic;
      font-size: 12px;
      margin-bottom: 20px;
    }
  }
  .black-opacity {
    position: absolute;
    top: 260px;
    left: 0;
    display: block;
    background: black;
    z-index: 100;
    height: calc(100% - 260px);
    width: 100%;
    opacity: 0.5;
  }
  height: calc(100% - 100px);
  display: flex;
  gap: 50px;
  justify-content: center;
  &:has(.play-wrapper) {
    align-items: center;
  }

  .statistics {
    height: calc(70% - 40px);
    width: calc(25% - 40px);
    background: $grey;
    border-radius: 20px;
    padding: 20px;
    .stats-list:has(>div.no-game) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .stats-list {
      height: calc(100% - 70px);
      overflow: auto;
      .no-game {
        font-size: 20px;
        text-align: center;
      }
      .game-stat {
        padding: 10px 20px;
        border-bottom: 2px solid $grey;
        gap: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 5px;
        &.win {
          background-color: rgba(0, 128, 0, 0.49);
          border-left: 3px solid green;
        }
        &.loose {
          background-color: rgba(128, 0, 0, 0.49);
          border-left: 3px solid rgba(145, 11, 11, 0.48);
        }
        > div {
          flex: 1 0 calc(50% - 20px);
        }
        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          img {
            height: 20px;
            width: 20px;
            border-radius: 50%;
          }
        }
        .rank-rating {
          text-align: right;
        }
        .score {
          text-align: right;
        }
      }
    }
    .title {
      font-size: 40px;
      text-align: center;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
  .play-wrapper {
    border-radius: 20px;
    height: 70%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    > img {
      position: absolute;
      z-index: 0;
      border-radius: 20px;
      border: 1px solid black;
      width: 100%;
      height: 100%;
    }
    button {
      font-weight: bold;
      padding: 10px 20px;
      font-size: 16px;
      width: initial;
      z-index: 2;
      position: relative;
    }
  }
}
.chatbox {
  position: absolute;
  background-color: $dark-grey;
  z-index: 99;
  bottom: 0;
  left: -350px;
  width: 300px;
  height: 30%;
  border: 2px solid $primaryText;
  padding: 20px;
  transition: 0.4s;
  &.open {
    left: 0;
  }
  input, textarea {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: $primaryText;
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    width: calc(100% - 30px);
    font-size: 18px;
    border: $primaryText 1px solid;
    background-color: $dark-grey;
    outline: none;
  }
  .message-list {
    height: calc(100% - 40px);
    overflow: auto;
    .system-message {
      font-size: 12px;
      color: #ffc800;
    }
  }
}
.play {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .board {
    position: relative;
    height: 80%;
    width: 60%;
    > img {
      height: 100%;
      width: 100%;
    }
    .distribute-cards {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      .card {
        height: 175px;
        width: 120px;
        position: absolute;
        box-shadow: 1px 3px 1px 0 rgb(0 0 0 / 16%);
        border-radius: 10px;
        transform: translate(-50%, -50%);
        transition: 0.3s;
      }
    }
    .deck {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: -20px;
      height: 175px;
      perspective: 600px;
      .card-flip-inner {
        position: relative;
        height: 100%;
        width: 100%;
        backface-visibility: hidden;
        transition: transform 1s;
        transform-style: preserve-3d;
        &.is-flipped {
          transform: rotateY(180deg);
        }
        .card-flip-front {
          position: absolute;
          backface-visibility: hidden;
          transform: rotateY( 180deg );
          height: 100%;
        }
        .card-flip-back {
          position: absolute;
          backface-visibility: hidden;
          height: 100%;
          img {
            height: 100%;
          }
        }
      }
      .cards {
        display: inline-block;
        margin-left: -25px;
        box-shadow: -3px 0px 10px 4px rgb(0 0 0 / 48%);
        height: 100%;
        border-radius: 7px;
        transition: .4s;
        &:hover {
          cursor: pointer;
          margin-bottom: 40px;
        }
        &.selected {
          margin-bottom: 40px;
        }
      }
    }
    .player {
      width: 90px;
      margin: 10px;
      height: 90px;
      position: absolute;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      .nbr-cards {
        position: absolute;
        top: 0;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          height: 100%;
          position: absolute;
          z-index: 5;
        }
        span {
          z-index: 10;
        }
      }
      &.selectable {
        cursor: pointer;
        z-index: 99;
      }
      &:nth-child(even) {
        background-color: $blueTeam;
      }
      &:nth-child(odd) {
        background-color: $redTeam;
      }
      &.player-1 {
        top: 0;
        z-index: 100;
        left: 50%;
        transform: translateX(-50%);
      }
      &.player-2 {
        right: 0;
        z-index: 100;
        top: 50%;
        transform: translateY(-50%);
      }
      &.player-3 {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      &.player-4 {
        z-index: 100;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .choose-teams {
      height: 200px;
      width: 500px;
      background-color: $primaryBg;
      position: absolute;
      left: 50%;
      border-radius: 20px;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .chatbox-toggle {
      position: absolute;
      top: 20px;
      left: 20px;
      font-size: 30px;
      cursor: pointer;
      .notification {
        position: absolute;
        top: -5px;
        right: -8px;
        background-color: red;
        font-size: 14px;
        padding: 2px 5px;
        border-radius: 5px;
      }
    }
  }
}


@media screen and /*(min-width: 320px) and*/ (max-width: 479px) {
  .margin-top {
    margin-top: 0;
  }
  .layout {
    flex-direction: column;
    .logo {
      img {
        height: 35px;
        width: 35px;
      }
      span {
        font-size: 18px;
      }
    }
    .switch-wrapper {
      width: calc(100% - 60px) !important;
      border-radius: 30px 30px 0 0 !important;
      height: 40%;
      div:has(button) {
        width: 100%;
      }
      .welcome {
        h1 {
          margin-top: 20px;
        }
        .description {
          line-height: 20px;
          font-size: 14px;
        }
      }
    }
    .wrapper {
      width: calc(100% - 20px) !important;
      border-radius: 0 0 30px 30px !important;
      height: 60%;
      div:has(button) {
        width: 100%;
      }
    }
  }
  h1 {
    font-size: 25px;
    margin: 10px 0;
  }
  .input-field {
    width: 90%;
    input.input, textarea.input {
      font-size: 14px;
      padding: 5px 40px 5px 40px;
    }
    span.icon:not(.tooltip-info) {
      font-size: 14px;
    }
  }
  button {
    width: 55%;
    font-size: 10px;
  }
  .dashboard-navbar {
    width: calc(100% - 40px);
    padding: 0 30px 0 10px;
    .menu {
      z-index: 100;
      flex-direction: column;
      width: 100%;
      position: absolute;
      left: 0;
      top: 60px;
      background: $redSecond;
      display: none;
      transition: .5s ease-in-out;
    }
    .menu.open {
      display: block;
      height: 200px;
      a {
        height: calc(100% / $nbrMenu)
      }
    }
    .close-open-menu{
      display: block;
    }
  }
  .dashboard-wrapper {
    overflow-x: auto;
    display: inline-block;
    width: 100%;
    height: calc(100% - 120px);
    padding-top: 20px;
    .statistics {
      padding-top: 10px;
      margin: 0 auto;
      width: calc(100% - 30px);
      height: calc(50% - 60px);
      min-height: 250px;
      .title {
        margin-bottom: 10px;
        font-size: 28px;
      }
      .stats-list {
        font-size: 13px;
        .game-stat {
          gap: 5px;
        }
      }
    }
    .play-wrapper {
      margin: 0 auto 50px;
      width: calc(100% - 70px);
      height: calc(50% - 60px);
      min-height: 250px;
      button {
        font-size: 14px;
      }
    }
  }
}
@media screen and (min-width: 480px) and (max-width: 599px) {
  .layout {
    flex-direction: column;
    .logo {
      img {
        height: 40px;
        width: 40px;
      }
      span {
        font-size: 19px;
      }
    }
    .switch-wrapper {
      width: calc(100% - 60px) !important;
      border-radius: 30px 30px 0 0 !important;
      height: 40%;
    }
    .wrapper {
      width: calc(100% - 20px) !important;
      border-radius: 0 0 30px 30px !important;
      height: 60%;
    }
  }
  h1 {
    font-size: 27px;
  }
  .input-field {
    width: 260px;
    input.input, textarea.input {
      font-size: 14px;
    }
  }
  button {
    width: 175px;
    font-size: 14px;
  }
  .dashboard-navbar {
    width: calc(100% - 100px);
    padding: 0 50px;

    .menu {
      flex-direction: column;
      width: 100%;
      position: absolute;
      left: 0;
      top: 60px;
      background: $redSecond;
      display: none;
      transition: .5s ease-in-out;
    }
    .menu.open {
      display: block;
      height: 200px;
      a {
        height: calc(100% / $nbrMenu)
      }
    }
    .close-open-menu{
      display: block;
    }
  }
  .dashboard-wrapper {
    overflow-x: auto;
    display: inline-block;
    width: 100%;
    height: calc(100% - 120px);
    padding-top: 20px;
    .statistics {
      margin: 0 auto;
      width: calc(70% - 30px);
      height: calc(50% - 60px);
      min-height: 250px;
      .title {
        font-size: 28px;
      }
      .stats-list {
        font-size: 13px;
        .game-stat {
          gap: 5px;
        }
      }
    }
    .play-wrapper {
      margin: 0 auto 50px;
      width: calc(70% - 40px);
      height: calc(50% - 60px);
      min-height: 250px;
    }
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .layout {
    flex-direction: column;
    .logo {
      img {
        height: 50px;
        width: 50px;
      }
      span {
        font-size: 20px;
      }
    }
    .switch-wrapper {
      width: calc(100% - 60px) !important;
      border-radius: 30px 30px 0 0 !important;
      height: 40%;
    }
    .wrapper {
      width: calc(100% - 20px) !important;
      border-radius: 0 0 30px 30px !important;
      height: 60%;
    }
  }
  h1 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .input-field {
    width: 260px;
    input.input, textarea.input {
      font-size: 14px;
    }
  }
  .margin-top {
    margin-top: 0;
  }
  button {
    width: 175px;
    font-size: 14px;
  }
  .dashboard-navbar {
    padding: 0;
    width: 100%;
    .logo {
      img {
        height: 45px;
        width: 45px;
      }
      span {
        font-size: 18px;
      }
    }
    .menu {
      a {
        padding: 0 10px;
        font-size: 13px;
      }
    }
  }
  .dashboard-wrapper {
    overflow-x: auto;
    display: inline-block;
    width: 100%;
    height: calc(100% - 120px);
    padding-top: 20px;
    .statistics {
      margin: 0 auto;
      width: calc(70% - 30px);
      height: calc(50% - 60px);
      min-height: 250px;
    }
    .play-wrapper {
      margin: 0 auto 50px;
      width: calc(70% - 40px);
      height: calc(50% - 60px);
      min-height: 250px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 899px) {
  h1 {
    font-size: 34px;
  }
  .input-field {
    width: 260px;
    input.input, textarea.input {
      font-size: 14px;
    }
  }
  button {
    width: 175px;
    font-size: 14px;
  }
  .dashboard-navbar {
    padding: 0 50px;
    width: calc(100% - 100px);
    .menu {
      a {
        font-size: 14px;
      }
    }
  }
  .dashboard-wrapper {
    overflow-x: auto;
    display: inline-block;
    width: 100%;
    height: calc(100% - 120px);
    padding-top: 20px;
    .statistics {
      margin: 0 auto;
      width: calc(70% - 30px);
      height: calc(50% - 60px);
      min-height: 250px;
    }
    .play-wrapper {
      margin: 0 auto 50px;
      width: calc(70% - 40px);
      height: calc(50% - 60px);
      min-height: 250px;
    }
  }
}
@media screen and (min-width: 900px) and (max-width: 1023px) {
  h1 {
    font-size: 34px;
  }
  .input-field {
    width: 260px;
    input.input, textarea.input {
      font-size: 14px;
    }
  }
  button {
    width: 175px;
    font-size: 14px;
  }
  .dashboard-navbar {
    padding: 0 50px;
    width: calc(100% - 100px);
    .menu {
      a {
        font-size: 14px;
      }
    }
  }
  .dashboard-wrapper {
    .statistics {
      width: calc(40% - 40px);
    }
    .play-wrapper {
      width: calc(40% - 40px);
    }
  }
}
@media screen and (min-width: 1024px) and (max-width: 1223px) {
  .dashboard-wrapper {
    .statistics {
      width: calc(40% - 40px);
    }
    .play-wrapper {
      width: calc(40% - 40px);
    }
  }
}
@media screen and (min-width: 1224px) and (max-width: 1500px) {
  .dashboard-wrapper {
    .statistics {
      width: calc(30% - 40px);
    }
  }
}
