$dark-grey: #252525;
$grey: #414141;
$white: #d7d7d7;

$red: #AF0404;
$redSecond: #9b1515;
//af2020
$primaryBg: $dark-grey;
$secondBg: $grey;
$primaryText: $white;

$redTeam: #f70e0e;
$blueTeam: #0e35f7;

$nbrMenu: 7;
